//
// SCSS silent @extends (Helpers)
//
// @package     WPDTRT
// @since       0.1.0
//

.font-sharpen,
.text-sharpen {
    // Better Font Rendering
    // sass-lint:disable no-vendor-prefixes
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-outline_white {
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.wpdtrt-js-webfont {
    // prevent FOUC (Times New Roman) while webfont script is loading
    // wpdtrt-js is added as soon as page head loads
    .wpdtrt-js & {
        visibility: hidden;
    }

    // wf-active is added after the webfont loader has finished
    .wf-active {
        &.wpdtrt-js & {
            visibility: visible;
        }
    }
}
