//
// Theme Requirements
// aka WordPress Generated Classes
// As flagged by the Theme Check plugin
// Copied from twentyseventeen
// @uses https://codex.wordpress.org/CSS#WordPress_Generated_Classes
//
// @package     WPDTRT
// @since       0.1.0
//

// https://codex.wordpress.org/CSS#WordPress_Generated_Classes
.alignnone {
    // this one is not flagged by Theme Check but is in the list of WordPress Generated Classes
    margin: 5px 20px 20px 0;
}

// https://codex.wordpress.org/CSS#WordPress_Generated_Classes
.aligncenter {
    display: block;
    margin: 5px auto;
}

div {
    &.aligncenter {
        @extend .aligncenter;
    }
}

// https://codex.wordpress.org/CSS#WordPress_Generated_Classes
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

// https://codex.wordpress.org/CSS#WordPress_Generated_Classes
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a {
    // https://codex.wordpress.org/CSS#WordPress_Generated_Classes
    img {
        &.alignright {
            float: right;
            margin: 5px 0 20px 20px;
        }

        &.alignnone {
            margin: 5px 20px 20px 0;
        }

        &.alignleft {
            float: left;
            margin: 5px 20px 20px 0;
        }

        &.aligncenter {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

// https://codex.wordpress.org/CSS#WordPress_Generated_Classes
.wp-caption {
    max-width: 96%; // Image does not overflow the content area
    background: var(--color-mono-light);
    text-align: center;
    padding: 5px 3px 10px;
    border: 1px solid var(--color-mono-light6);

    &.alignnone {
        margin: 5px 20px 20px 0;
    }

    &.alignleft {
        margin: 5px 20px 20px 0;
    }

    &.alignright {
        margin: 5px 0 20px 20px;
    }

    img {
        width: auto;
        height: auto;
        max-width: 98.5%;
        padding: 0;
        border: 0 none;
        margin: 0;
    }

    p {
        &.wp-caption-text {
            font-size: 11px;
            line-height: 17px;
            padding: 0 4px 5px;
            margin: 0;
        }
    }
}

// https://codex.wordpress.org/CSS#WordPress_Generated_Classes
.screen-reader-text {
    position: absolute !important; /* stylelint-disable-line declaration-no-important */
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    overflow: hidden;

    &:focus {
        display: block;
        top: 5px;
        left: 5px;
        z-index: 100000; // Above WP toolbar
        width: auto;
        height: auto;
        background-color: var(--color-mono-light2);
        clip: auto !important; /* stylelint-disable-line declaration-no-important */
        color: var(--color-wp-focus);
        font-size: 14px;
        line-height: normal;
        font-weight: bold;
        text-decoration: none;
        padding: 15px 23px 14px;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    }
}

// twentyseventeen
.sticky {
    position: relative;
}

// twentyseventeen
.gallery-caption {
    display: block;
    text-align: left;
    padding: 0 10px 0 0;
    margin-bottom: 0;
}

// twentyseventeen
.bypostauthor {
    > .comment-body {
        > .comment-meta {
            > .comment-author {
                .avatar {
                    padding: 2px;
                    border: 1px solid var(--color-mono-dark2);
                }
            }
        }
    }
}
